<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="HTML Tutorials">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Rama">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div class="bgcolor-blue">
    Header Area <br />
        @ViewBag.Title <br />
        <a href="/test/gethtml1">Go to Link</a>
    </div>

    <div>@RenderBody()</div>

    <div class="bgcolor-aqua">Footer Area</div>

 

</body>
</html>