<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="HTML Tutorials">
    <meta name="keywords" content="HTML,CSS">
    <meta name="author" content="Rama">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div class="bgcolor-blue" style="background-color:orangered">
    Header Area <br />

    </div>

    <div>@RenderBody()</div>

    <div class="bgcolor-aqua" style="background-color:yellowgreen">Footer Area</div>

 

</body>
</html>